/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    color: #c8c8c8;
    // background-color: #272b30;
    background-color: #1c1e22;
}
h1 {
    color: #FFE300;
    text-align: center;
}
dd { 
    color: rgba(255,255,255,.7);
}
